<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Auto Space</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
   <main class="main-wrapper">
      <div class="img-wrapper">
         <div class="image">
            IMAGE
         </div>
      </div>
      <div class="form-wrapper">
         <form action="#" method="post" class="form">
            <div class="input-email">
               <label for="email" data-form="label">Email</label><br>
               <input type="email" name="email" placeholder="Enter email" value="" data-form="inside" size="30">
            </div>
            <div class="input-password">
               <label for="password" data-form="label">Password</label><br>
               <input type="password" name="password" placeholder="Enter Password" value="" data-form="inside" size="30">
            </div>
            <p class="forgot-pw">
               <a href="#">Forgot Password ? </a>
            </p>
            <button type="submit" class="btn">Sign in</button>
            <button type="submit" class="google-login">
              <span class="google-icon"></span> Sign in with Google</button>
         </form>
      </div>
   </main>

</body>
</html>