<%- include('header') -%>

<div class="logout">
   <h1>Thank you for sigining in your page</h1>
   <h2>
      <%= locals.user ? user : 'User' %>
   </h2>
   <a href="/">GO BACK HOME :)</a>
</div>

<%- include('header') -%>
