@font-face {
   font-family: Migra;
   src: url(./Migra\ Extralight\ 200\ \(1\).otf);
}
@font-face {
   font-family: Spooky;
   src: url(./SpookyBrush\ 400.ttf);
}

$lowblack : #181818;

html > body {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100vh;
   background: conic-gradient(from .50turn at 0% 90%,#c8dae8ba,#c8dae8ba ,#c8dae8ba);
}


.main-wrapper {
   background: linear-gradient(to left, #777796, #777796, #777796);
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   overflow: hidden;
   box-sizing: border-box;



   & ::selection {
      color: $lowblack;
      background: #aca08a;
   }

   & .form-wrapper {
      background: linear-gradient(to left, white, white, white);
      padding: 4rem 5rem;
      align-items: center;
      box-sizing: border-box;
      overflow-y: scroll;
      overflow-x: hidden;

      .error-message {
         position: relative;
         display:none;
         & > h4 {
            padding: 0;
            margin: 0;
            width: 100%;
            color: #ececf4;
            text-align: center;
            font: normal 400 clamp(12px,1.5vw, 1rem) Migra;
         }

         @keyframes error-message {
            0% {
               opacity: 0;
            }
            50% {
               opacity: 1;
            }
            100% {
               opacity: 1;
               top: 0;

            }
         }
      }



      .signIN-success {
         color: green;
         text-transform: uppercase;
         font: normal 400 clamp(12px,1.6vw, 1rem) Migra;
         margin-inline-start: 4.8rem;
         animation: success 1s linear forwards;
         transition: animation .10s ease;

         @keyframes success {
            0% {
               opacity: 0;

            }
            50% {
               opacity: 0;
            }
            80% {
               opacity: 0;
            }
            100% {
               opacity: 1;
               color: green;
            }

         }

      }

      .signIN-error {
         color: red;
         text-transform: uppercase;
         font: normal 400 clamp(12px,1.6vw, 1rem) Migra;
         margin-inline-start: 1.5rem;
         animation: error 1s linear forwards;
         transition: animation .10s ease;

         @keyframes error {
            0% {
               opacity: 0;

            }
            50% {
               opacity: 0;
            }
            80% {
               opacity: 0;
            }
            100% {
               opacity: 1;
               color: red;
            }

         }

      }

      .header {
      margin-inline-start: 1rem;
      text-transform: uppercase;
      color: $lowblack;
      font: normal 400 clamp(2.5rem,5vw, 2.9rem) Spooky;
      // letter-spacing: 3px;
      // text-align: center;
      // width: 400px;
        & .space {
         color: orangered;
        }

      }
      &::-webkit-scrollbar {
         background: transparent;
         width: 1q;
       }


      & form {
         width: 100%;
         padding: 0rem 4.5rem;
         overflow: hidden;
      }
      .input-email, .input-password {
         padding: 0.50rem 0;
         & > [data-form="inside"] {
            padding: 0.55rem ;
            border-radius: 3px;
            border: 1px solid $lowblack;
            margin-block-start: 0.20rem;
            caret-color: blue;
            &::placeholder {
               color: #1818187e;
            }
            &:focus {
               background: #3d610b45;
               transition: all .30s linear;

            }
         }

      }
      & [data-form="label"] {
         color: $lowblack;
         font: normal 400 clamp(12px,1.6vw, 1rem) Migra;
      }

      .forgot-pw {
         text-align: center;
         // width: 300px;
         width: 250px;
         & a {
            color: $lowblack;
            text-underline-offset:4px;
            font: normal 400 clamp(12px,1.6vw, 1rem) time;

            &:hover {
               color: #960707;
               transition: all 0.30s linear;
               text-decoration-color: goldenrod;
            }
         }
      }
      .btn, .google-login {
         display: block;
         margin-inline-start: 0rem;
         box-sizing: border-box;
         // width: 310px;
         width: 250px;
         margin-bottom: 1rem;
         padding: .40rem 0;
         border-radius: 3px;
         border-color: transparent;
         background: linear-gradient(to left, #181818,#181818);
         color: ghostwhite;
         cursor: pointer;
         &:hover{
            background: #167c49;
            color: ghostwhite;
            transition: all .50s ease;
         }
      }
      & .google-login {
         background: #d3d7da;
         color: black;
         border-color: transparent;
      }
      & .google-icon {
         background: url(./images/google.png)no-repeat center center /contain border-box;
         padding: 10px 10px;
         margin-inline-end: 1rem;
      }
   }


   .img-wrapper {
      background: wheat;
      & .image {
         background: url(./images/Space.jpg) no-repeat center center /cover border-box;
         width: 100%;
         height: 100vh;
         user-select: none;
      }
   }
}

@import 'mediaquery';