@font-face {
  font-family: Migra;
  src: url(./Migra\ Extralight\ 200\ \(1\).otf);
}
@font-face {
  font-family: Spooky;
  src: url(./SpookyBrush\ 400.ttf);
}
html > body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: conic-gradient(from 0.5turn at 0% 90%, rgba(200, 218, 232, 0.7294117647), rgba(200, 218, 232, 0.7294117647), rgba(200, 218, 232, 0.7294117647));
}

.main-wrapper {
  background: linear-gradient(to left, #777796, #777796, #777796);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  overflow: hidden;
  box-sizing: border-box;
}
.main-wrapper ::-moz-selection {
  color: #181818;
  background: #aca08a;
}
.main-wrapper ::selection {
  color: #181818;
  background: #aca08a;
}
.main-wrapper .form-wrapper {
  background: linear-gradient(to left, white, white, white);
  padding: 4rem 5rem;
  align-items: center;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-wrapper .form-wrapper .error-message {
  position: relative;
  display: none;
}
.main-wrapper .form-wrapper .error-message > h4 {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #ececf4;
  text-align: center;
  font: normal 400 clamp(12px, 1.5vw, 1rem) Migra;
}
@keyframes error-message {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.main-wrapper .form-wrapper .signIN-success {
  color: green;
  text-transform: uppercase;
  font: normal 400 clamp(12px, 1.6vw, 1rem) Migra;
  -webkit-margin-start: 4.8rem;
          margin-inline-start: 4.8rem;
  animation: success 1s linear forwards;
  transition: animation 0.1s ease;
}
@keyframes success {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: green;
  }
}
.main-wrapper .form-wrapper .signIN-error {
  color: red;
  text-transform: uppercase;
  font: normal 400 clamp(12px, 1.6vw, 1rem) Migra;
  -webkit-margin-start: -40PX;
          margin-inline-start: -40PX;
  animation: error 1s linear forwards;
  transition: animation 0.1s ease;
  width: 300px;
}
@keyframes error {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: red;
  }
}
.main-wrapper .form-wrapper .header {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  text-transform: uppercase;
  color: #181818;
  font: normal 400 clamp(2.5rem, 5vw, 2.9rem) Spooky;
}
.main-wrapper .form-wrapper .header .space {
  color: orangered;
}
.main-wrapper .form-wrapper::-webkit-scrollbar {
  background: transparent;
  width: 1q;
}
.main-wrapper .form-wrapper form {
  width: 100%;
  padding: 0rem 4.5rem;
  overflow: hidden;
}
.main-wrapper .form-wrapper .input-email, .main-wrapper .form-wrapper .input-password {
  padding: 0.5rem 0;
}
.main-wrapper .form-wrapper .input-email > [data-form=inside], .main-wrapper .form-wrapper .input-password > [data-form=inside] {
  padding: 0.55rem;
  border-radius: 3px;
  border: 1px solid #181818;
  -webkit-margin-before: 0.2rem;
          margin-block-start: 0.2rem;
  caret-color: blue;
}
.main-wrapper .form-wrapper .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper .input-password > [data-form=inside]::-moz-placeholder {
  color: rgba(24, 24, 24, 0.4941176471);
}
.main-wrapper .form-wrapper .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper .input-password > [data-form=inside]::placeholder {
  color: rgba(24, 24, 24, 0.4941176471);
}
.main-wrapper .form-wrapper .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper .input-password > [data-form=inside]:focus {
  background: rgba(61, 97, 11, 0.2705882353);
  transition: all 0.3s linear;
}
.main-wrapper .form-wrapper [data-form=label] {
  color: #181818;
  font: normal 400 clamp(12px, 1.6vw, 1rem) Migra;
}
.main-wrapper .form-wrapper .forgot-pw {
  text-align: center;
  width: 250px;
}
.main-wrapper .form-wrapper .forgot-pw a {
  color: #181818;
  text-underline-offset: 4px;
  font: normal 400 clamp(12px, 1.6vw, 1rem) time;
}
.main-wrapper .form-wrapper .forgot-pw a:hover {
  color: #960707;
  transition: all 0.3s linear;
  text-decoration-color: goldenrod;
}
.main-wrapper .form-wrapper .btn, .main-wrapper .form-wrapper .google-login {
  display: block;
  -webkit-margin-start: 0rem;
          margin-inline-start: 0rem;
  box-sizing: border-box;
  width: 250px;
  margin-bottom: 1rem;
  padding: 0.4rem 0;
  border-radius: 3px;
  border-color: transparent;
  background: linear-gradient(to left, #181818, #181818);
  color: ghostwhite;
  cursor: pointer;
}
.main-wrapper .form-wrapper .btn:hover, .main-wrapper .form-wrapper .google-login:hover {
  background: #167c49;
  color: ghostwhite;
  transition: all 0.5s ease;
}
.main-wrapper .form-wrapper .google-login {
  background: #d3d7da;
  color: black;
  border-color: transparent;
}
.main-wrapper .form-wrapper .google-icon {
  background: url(./images/google.png) no-repeat center center/contain border-box;
  padding: 10px 10px;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.main-wrapper .img-wrapper {
  background: wheat;
}
.main-wrapper .img-wrapper .image {
  background: url(./images/Space.jpg) no-repeat center center/cover border-box;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media all and (750px <= width <= 1000px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 0rem 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-wrapper .form-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 1q;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 1.5rem;
            margin-inline-start: 1.5rem;
    font-size: 3.4rem;
    letter-spacing: 14px;
    width: 410px;
  }
  .main-wrapper .form-wrapper .header .space {
    color: orangered;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
    width: 450px;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 335px;
    padding: 1rem;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper form .input-password > [data-form=inside]:focus {
    background: none;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form [data-form=label] {
    font-size: 1.3rem;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 360px;
    margin-bottom: 1.5rem;
    padding: 0.9rem 0;
  }
  .main-wrapper .img-wrapper {
    display: none;
  }
}
@media all and (595px <= width <= 749px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 0rem 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-wrapper .form-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 1q;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 1.5rem;
            margin-inline-start: 1.5rem;
    font-size: 3.4rem;
    letter-spacing: 14px;
    width: 410px;
  }
  .main-wrapper .form-wrapper .header .space {
    color: orangered;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
    width: 450px;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 335px;
    padding: 1rem;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper form .input-password > [data-form=inside]:focus {
    background: none;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form [data-form=label] {
    font-size: 1.3rem;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 360px;
    margin-bottom: 1.5rem;
    padding: 0.9rem 0;
  }
  .main-wrapper .img-wrapper {
    display: none;
  }
}
@media all and (451px <= width <= 598px) and (min-height: 0px) and (max-height: 700px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 0rem 3rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-wrapper .form-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 1q;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 1rem;
            margin-inline-start: 1rem;
    font-size: 3.4rem;
    letter-spacing: 14px;
    width: 410px;
  }
  .main-wrapper .form-wrapper .header .space {
    color: orangered;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
    width: 450px;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 335px;
    padding: 1rem;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper form .input-password > [data-form=inside]:focus {
    background: none;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form [data-form=label] {
    font-size: 1.3rem;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 360px;
    margin-bottom: 1.5rem;
    padding: 0.9rem 0;
  }
  .main-wrapper .img-wrapper {
    display: none;
  }
}
@media all and (0px <= width <= 400px) and (min-height: 0px) and (max-height: 950px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 8.5rem 3.2rem;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: -2.2rem;
            margin-inline-start: -2.2rem;
    font-size: 2.5rem;
    letter-spacing: 10px;
    text-align: center;
    width: 330PX;
  }
  .main-wrapper .form-wrapper .header .space {
    color: teal;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    padding: 0.6rem;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 14px;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    padding: 0.75rem 0;
  }
  .main-wrapper .img-wrapper {
    display: none;
  }
}
@media all and (400px <= width <= 450px) and (min-height: 0px) and (max-height: 950px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 8.5rem 2rem;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 0rem;
            margin-inline-start: 0rem;
    font-size: 2rem;
    letter-spacing: 10px;
    text-align: center;
  }
  .main-wrapper .form-wrapper .header .space {
    color: teal;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 315px;
    padding: 0.7rem;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 340px;
    margin-bottom: 1.5rem;
    padding: 0.8rem 0;
  }
  .main-wrapper .img-wrapper {
    display: none;
  }
}
@media all and (451px <= width <= 770px) and (min-height: 900px) and (max-height: 1035px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 12rem 12rem;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 0rem;
            margin-inline-start: 0rem;
    font-size: 3.4rem;
    letter-spacing: 10px;
    text-align: center;
  }
  .main-wrapper .form-wrapper .header .space {
    color: orangered;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 335px;
    padding: 1rem;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper form .input-password > [data-form=inside]:focus {
    background: none;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form [data-form=label] {
    font-size: 1.3rem;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 360px;
    margin-bottom: 1.5rem;
    padding: 0.9rem 0;
  }
  .main-wrapper .img-wrapper {
    display: none;
  }
}
@media all and (771px <= width <= 850px) and (min-height: 1036px) and (max-height: 1290px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 12rem 12rem;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 0rem;
            margin-inline-start: 0rem;
    font-size: 3.4rem;
    letter-spacing: 10px;
    text-align: center;
  }
  .main-wrapper .form-wrapper .header .space {
    color: orangered;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 335px;
    padding: 1rem;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper form .input-password > [data-form=inside]:focus {
    background: none;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form [data-form=label] {
    font-size: 1.3rem;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 360px;
    margin-bottom: 1.5rem;
    padding: 0.9rem 0;
  }
  .main-wrapper .img-wrapper {
    display: none;
  }
}
@media all and (1001px <= width <= 1439px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 0rem 8rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-wrapper .form-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 1q;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 1.5rem;
            margin-inline-start: 1.5rem;
    font-size: 3.4rem;
    letter-spacing: 14px;
    width: 410px;
  }
  .main-wrapper .form-wrapper .header .space {
    color: orangered;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
    width: 450px;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 335px;
    padding: 1rem;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper form .input-password > [data-form=inside]:focus {
    background: none;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form [data-form=label] {
    font-size: 1.3rem;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 360px;
    margin-bottom: 1.5rem;
    padding: 0.9rem 0;
  }
  .main-wrapper .img-wrapper {
    display: unset;
  }
  .main-wrapper .img-wrapper .image {
    background: url(./images/Space.jpg) no-repeat center center/cover border-box;
    transition: all 0.45s linear;
  }
}
@media all and (width > 1440px) {
  .main-wrapper .form-wrapper {
    grid-template-columns: 1fr;
    padding: 0rem 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-wrapper .form-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 1q;
  }
  .main-wrapper .form-wrapper .header {
    -webkit-margin-start: 1.5rem;
            margin-inline-start: 1.5rem;
    font-size: 3.4rem;
    letter-spacing: 14px;
    width: 410px;
  }
  .main-wrapper .form-wrapper .header .space {
    color: orangered;
  }
  .main-wrapper .form-wrapper form {
    padding: 0;
    width: 450px;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside], .main-wrapper .form-wrapper form .input-password > [data-form=inside] {
    width: 335px;
    padding: 1rem;
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::-moz-placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]::placeholder, .main-wrapper .form-wrapper form .input-password > [data-form=inside]::placeholder {
    color: rgba(24, 24, 24, 0.8980392157);
  }
  .main-wrapper .form-wrapper form .input-email > [data-form=inside]:focus, .main-wrapper .form-wrapper form .input-password > [data-form=inside]:focus {
    background: none;
  }
  .main-wrapper .form-wrapper form .forgot-pw {
    width: 340px;
  }
  .main-wrapper .form-wrapper form .forgot-pw a {
    font-size: 17px;
  }
  .main-wrapper .form-wrapper form [data-form=label] {
    font-size: 1.3rem;
  }
  .main-wrapper .form-wrapper form .btn, .main-wrapper .form-wrapper form .google-login {
    width: 360px;
    margin-bottom: 1.5rem;
    padding: 0.9rem 0;
  }
  .main-wrapper .img-wrapper {
    display: unset;
  }
  .main-wrapper .img-wrapper .image {
    background: url(./images/Auto-space.jpg) no-repeat center center/cover border-box;
    transition: all 0.45s linear;
  }
}/*# sourceMappingURL=style.css.map */